# Database
DATABASE_URL="postgresql://user:password@localhost:5432/andream_dev"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# File upload (optional - for production)
# AWS_S3_BUCKET=""
# AWS_S3_REGION=""
# AWS_ACCESS_KEY_ID=""
# AWS_SECRET_ACCESS_KEY=""
